/*****************************************************/
/*                                                   */
/*  Style sheet for Wabbit surveillance page.        */
/*                                                   */
/*****************************************************/

/* Hyperlink preferences. */
a:link  {text-decoration : none; }
a:hover {text-decoration : underline; }

#live_outer{
    display: inline-block;
    position: relative;
    /*
    border-style: solid;
    border-color: blue;
    */
}
#live_outer img{
    /* Get rid of extra space below image. */
    vertical-align: bottom;

    width: 100%;
    height: auto;

    border-radius: 15px;
}
#live_time_hud{
    position    : absolute;
    padding     : 0 10px 0 10px;
    bottom      : 10px;
    right       : 10px;

    font-size   : 40px;
    font-weight : 900;
    color       : black;
    background  : aqua;
    opacity     : 0.4;

    border-radius : 10px;
    /*
    border-style  : solid;
    border-width  : 2px;
    border-color  : cyan;
    */
}
.info_block{
    margin-top : 5px;

    /* Center the block. */
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; 

    padding    : 2px 0 2px 0;
    font-size  : 120%;

    background    : azure;
    border-radius : 10px;
    border-style  : solid;
    border-width  : 1px;
    border-color  : gray;
}

.table_table { 
    display: table;
}
.table_row { 
    display: table-row;
}
.table_cell { 
    display: table-cell;
    padding: 0 0 0 20px;
}

.footer{
    padding : 10px;
    text-align : center;
    font-style: italic;
    font-size: 85%;
    /*
    border-style  : solid;
    border-width  : 2px;
    */
}

.footer img{
    margin: 10px;
}

/* jQuery UI Slider styling */
#slider{
    height: 20px;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 1px gray;
    border-radius: 15px;    
    background: azure;
}
#slider .ui-slider-handle{
    top: -4px;
    height: 28px;
    width: 20px; 
    left: 10px;
    border: none;
    border-radius: 8px;
    background: blue;
}
