/*****************************************
 *
 *  Stylesheet for Wabbit
 *
 *  http://vmlaker.github.io/wabbit
 *
 ****************************************/

/* Link preferences. */
a:link{
    text-decoration: none;
    color: #2C6EFF;
}
a:visited{
    text-decoration: none;
    color: #00747B;
}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

body{
    margin: 0;
    font-size: 100%;
    font-family: Arial;
}

#background {
    background-image: url(tile1.jpg), url(tile2.jpg);
    background-repeat: repeat-x, repeat;
}

.margin {
    margin: 0px 20px 0px 20px;
}

#main_block{
    min-width: 500px;
    max-width: 900px;

    margin: auto;
    padding: 40px 30px;
    
    border-style: solid;
    border-width: 0px 1px;
    border-color: #28BABD;
    background-color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: right;
}

.title{
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    margin-bottom: -10px;
}

.preamble_top{
    font-size: 130%;
    padding: 0px 20px;
}

.preamble_bot{
    font-size: 125%;
    padding: 0px 95px;
    text-align: center;
}
 
.table_of_contents{
    font-size: 110%;
}

.section_body{
    padding: 0px 20px;
}

.spacing{
    padding: 10px 0px;
}

.demo_link a{
    font-style: italic;
    text-decoration: underline;
}

code{
    padding: 2px 4px;
    background-color: #D7E7EA;
    border-style: solid;
    border-width: 1px;
    border-color: #ADC4C8;
}

.code_block{
    padding: 4px 13px;
    margin: 0;
    white-space: nowrap;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 90%;
    background-color: #D0F3F8;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #28BABD;
}

.footer{
    margin: 50px 15px 50px 15px;
    text-align: center;
    font-size: 75%;
    font-style: italic;
}
