/*****************************************
 *
 *  Stylesheet for Wabbit
 *
 *  http://vmlaker.github.io/wabbit
 *
 ****************************************/

/* Link preferences. */
a:link{
    text-decoration: none;
    color: #2C6EFF;
}
a:visited{
    text-decoration: none;
    color: #00747B;
}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

body{
    margin: 0;
    background-image: url(tile1.jpg), url(tile2.jpg);
    background-repeat: repeat-x, repeat;
    font-family: Arial;
}

.margin {
    margin: 0px 20px 0px 20px;
}

#main_block{
    min-width: 500px;
    max-width: 900px;

    margin: auto;
    padding: 0px 30px;
    
    border-radius: 0px 0px 15px 15px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #00747B;
    background-color: white;
    box-shadow: 0px 0px 20px black;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: right;
}

.title{
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    margin-bottom: -10px;
}

.preamble_top{
    font-size: 115%;
    padding: 10px 20px 0px 20px;
}

.preamble_bot{
    font-size: 115%;
    text-align: center;
}
 
.table_of_contents{
//    font-size: 110%;
}

.spacing{
    padding: 30px 0px;
}

.centered{
    text-align: center;
}

.demo_link a{
    font-style: italic;
    text-decoration: underline;
}

#content{
    padding: 20px 0;
}

code{
    padding: 1px 4px;
    background-color: #D7E7EA;
    border-style: solid;
    border-width: 1px;
    border-color: #ADC4C8;
}

.code_block{
    padding: 4px 13px;
    margin: 0;
    white-space: nowrap;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 90%;
    background-color: #D0F3F8;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #28BABD;
}

.footer{
    margin: 50px 15px 50px 15px;
    text-align: center;
    font-size: 75%;
    font-style: italic;
}

#navcontainer{
    padding: 25px 0px 40px 0px;
    width: 524px;
    margin: auto;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

#navcontainer a{
    color: #00747B;
    text-decoration: none;
}

.navbuffer{
    float: left;
    padding: 20px;
}

.navitem{
    width: 140px;
    padding: 2px;
    float: left;
    border-color: #00747B;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #C5C5DE;
}

.navitem:hover {
    background-color: #D0F3F8;
    color: #004A50;
    box-shadow: 3px 3px 4px #9393B3;
}

.navitemselected{
    width: 140px;
    padding: 2px;
    float: left;
    color: #002F32;
    background-color: #88F0FF;
    border-color: #004A50;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #7C7C99; //#9393B3; //ACACD0; //grey; //black; //#C5C5DE;
}

