<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>

    <title>Wabbit</title>

    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="browser.js"></script>
    <link href="main.css" rel="stylesheet" type="text/css">

  </head>
  
  <body>

    <div style="text-align: center;">
      <div id="live_outer">
        <img 
           id="latest_image" 
           alt="Latest image" 
           onload="window.wabbitOnImageLoad()"
           onerror="window.wabbitOnImageLoad()"
           onload="window.wabbitOnImageLoad()"           
           />
      </div>
    </div>

    <div id="slider"></div>

    <div class="info_block">      
      <div class="table_table">
        <div class="table_row">
          <span class="table_cell">Current</span>
          <span class="table_cell" id="current_time"></span>
        </div>
        <div class="table_row">
          <span class="table_cell">Begin</span>
          <span class="table_cell" id="begin_time"></span>
        </div>
        <div class="table_row">
          <span class="table_cell">End</span>
          <span class="table_cell" id="end_time"></span>
        </div>
        <div class="table_row">
          <span class="table_cell">Amount</span>
          <span class="table_cell">
            <span id="slider_amount"></span>
            <a href="live">(live)</a>
          </span>
        </div>
      </div>
    </div>

    <div class="footer">
      This website, including camera and database server is powered by V.Mlaker's
      <a href="http://vmlaker.github.io/wabbit">Wabbit</a>.
      <br>
      <a href="http://vmlaker.github.io/wabbit">
        <img src="logo_small.png"></a>
    </div>

  </body>
</html>
