<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>

    <title>Wabbit</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="main.css" rel="stylesheet" type="text/css">

  </head>
  <body>

    <div style="text-align: center;">
    <div id="live_outer">
      <div id="live_image">
        <img id="latest_image" alt="Latest image"/>
      </div>
      <span id="latest_tstamp_hud"/>
    </div>
    </div>

    <div class="info_block">
      Server time: 
      <span id="server_time"></span>
      <br>
      Load average:
      <span id="load_avg"></span>
      <br>
      Client timeout:
      <span id="timeout"></span>
    </div>

    <div class="info_block">
      Archive:
      <a href="pics">click here</a>
      <br>
      Size:
      <span id="db_size"></span>
      <br>
      Latest capture:
      <span id="latest_tstamp"></span>
    </div>

    <br>

    <div class="footer">
      This website, including camera and database server is created using
      V. Mlaker's
      <a href="http://github.com/vmlaker/wabbit">Wabbit code</a>.
      <br>
      <br>
      <a href="http://github.com/vmlaker/wabbit">
        <img src="logo_small.png"></a>
      <br>
    </div>

  </body>
</html>
