<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>

    <title>Wabbit</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="main.js">
    </script>
    <!--
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    -->
  </head>
  <body>
    
    Server time: 
    <span id="server_time"></span>
    <br>
    
    DB size:
    <span id="db_size"></span>
    <br>

    Last snapshot:
    <span id="last_tstamp"></span>
    <br>

    Last URL:
    <span id="last_url"></span>
    <br>

    Client timeout:
    <span id="timeout"></span>
    <br>

    <a href="pics">Pics</a>
    <br>

    <div style="width: 100%; ">
      <img id="last_image" src="xxx" alt="Latest image" width="100%"></img>
    </div>
    <br>

  </body>
</html>
