div(class='footer')
  | This website, including camera and database server,
  | is powered by V.Mlaker's 
  a(href='http://vmlaker.github.io/wabbit') Wabbit
  | .
  br
  a(href='http://vmlaker.github.io/wabbit')
    img(src="{{ url_for('static', filename='images/logo_tiny.png') }}")
