html
  head
    title Wabbit Websocket
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    link(href="{{ static_url('css/bootstrap.min.css') }}", type='text/css', rel='stylesheet')
    link(href="{{ static_url('css/style.css') }}", type='text/css', rel='stylesheet')
script.
  $(document).ready(function(){
    if ('WebSocket' in window) {

      // Compose the Websocket URL path.
      var ws_path = 'ws://' + window.location.host + window.location.pathname;
      if (ws_path.substr(-1) !== '/') { ws_path += '/'; }
      ws_path += 'ws';

      // Create the Websocket and register the callbacks.
      var ws = new WebSocket (ws_path);
      ws.onopen = function () {
        ws.send(0);
      };
      ws.onmessage = function (msg) {
        var data = JSON.parse(msg.data)
        if ('image' in data) {
          console.log('image');
          $('#cam').one('load', function() {
            setTimeout(function() { ws.send(1); }, data.timeout);
          }).attr('src', 'data:image/jpg;base64,' + data.image);
        }else{
          setTimeout(function() { ws.send(1); }, data.timeout);
        }
      };
      ws.onerror = function (e) {
        console.log(e);
        ws.send(2);
      };
    } else {
      alert('WebSocket not supported');
    }
  });

body
  div(class='row')
    div(class='col-xs-12')
      div(id='img-container')
        img(
          class='img-responsive',
          id='cam',
        )
